<p id="notice"><%= notice %></p>

<h1>Events</h1>

<h2>Upcoming Events</h2>
<% if @events.upcoming.any? %>
<% @events.each do |event| %>
      <ul>
        <li><%= event.description %> | <%= event.date %> | <%= link_to "Show", event %></li>
       </ul>
    <% end %>
<% else %>
	<h3>Events (0)</h3>
 <%= link_to "New Event", new_event_path %>

<% end %>

<h2>Past Events</h2>
<% if @events.past.any? %>
	<% @events.each do |event| %>
      <ul>
        <li>
        <%= event.description %> | <%= event.date %> | <%= link_to "Show", event %>
        </li>
       </ul>
    <% end %>
<% end %>
